html, body, #map-canvas {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map-canvas {
    width: 75%;
    float: left;
    margin: 0;
    padding: 0;
}

#map-list {
    width: 24%;
    float: left;
    margin: 0;
    padding: 0.3%;
    height: 98%;
    overflow: auto;
}
